# Git файлы
.git
.gitignore

# Environment files
.env
.env.local
.env.*.local

# Файлы IDE
.vscode
.idea
*.swp
*.swo

# Тесты
*_test.go
api_test.http

# Документация
README.md
*.md

# Логи
*.log

# Временные файлы
*.tmp
*.temp

# Докер файлы
Dockerfile
.dockerignore
docker-compose.yml

# Стартовый скрипт
start